# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Testing / Linting
.pytest_cache/
.ruff_cache/

# Databases and Local Caches
%APPDATA%/
*.db
